@model MvcApplication1.Models.Movie

<table style="width: auto">
    <tr>
        <td class="tdAutoWidth">Genre:</td>
        <td>@Html.DisplayFor(model => model.Genre)</td>
        <div class="floatLeft" id="videoThumbnail">
            <figure>
                <img src="@Model.ThumbnailPath"  id="@Model.UniqueIdentifier"/>
            </figure>
        </div>
        <br/>
    </tr>
    <tr>
        <td>Year:</td>
        <td>@Html.DisplayFor(model => model.Year)</td>
    </tr>
    <tr>
        <td>Director:</td>
        <td>@Html.DisplayFor(model => model.Directors)</td>
    </tr>
    <tr>
        <td>Overview:</td>
        <td>@Html.DisplayFor(model => model.Description)</td>
    </tr>
    <tr>
        <td>Imdb Rating:</td>
        <td>
            @for (var i = 0; i < 10; i++)
            {
                if (i < Model.Rating)
                {
                    <img src="../../Content/Images/star-on.png" alt="star" />
                }
                else
                {
                    <img src="../../Content/Images/star-off.png" alt="no star" />
                }
            }
        </td>
    </tr>    
    <tr>
        <td><a href="@Model.MovieUrl" id="PlayMovie">Watch Now</a></td>
        <td style="padding-left: 10px;"><a href="/Home/EditMovie/@Model.Id">Edit Movie Data</a></td>
    </tr>    
</table>
<br/>
